*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sezione della barra alta di navigazione */
header{
    background-color: blue;
}
.container{
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 50px;
   
}
.left_logo{
    padding-top: 10px;
}


.header_flex{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}


.extended_menu{
    display: none;
}


/* sezione delle 5 colonne + 1 doppia */

.row{
    display: flex;
    flex-direction: column;
    
}
.col_33, .col_double{
    background-color: rgb(141, 180, 216);
    margin: 20px 10px 0px 10px;

    width: calc(100% - 20px);
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
    
}

/* box 1  */
.col_double{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.col2_double{
    display: flex ;
    align-items: flex-end;
    justify-content: center;
}

.title{
    font-size: 20px;
    color: blue;
    margin-bottom: 12px;
    font-weight: 800;
}

.content{
    padding-bottom: 30px;
}
.bottone{
    padding: 5px 40px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    border: blue;
    max-width: 200px;
    margin-bottom: 10px;

}

.phone_img{
    width: 240px;
}

/* box 2  */
.col_33{
    text-align: center;
}
.col_flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.disegnino{
    margin-top: 20px;
    font-size: 100px;
}
/* sezione delle immagini viola */

.background_purple{
    background-color: blueviolet;
    height: 500px;
}
.row_purple{
    display: flex;
    flex-direction: column;
}
.col_purple{
    height: 100px;
    background-color: yellow;
    margin: 10px;
}


/* TABLET */

@media screen and (min-width: 768px) {
    .container{
        max-width: 750px;
    }
    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col_double{
        width: calc(100% / 3 * 2 - 20px);
    }
    .col_33{
        width: calc(100% / 3 - 20px);
    }
    .col2_double{
        justify-content: flex-start;
        
    }
}
    


/* DESKTOP */

@media screen and (min-width: 991px) {
    .hamburger{
        display: none;
    }
    .extended_menu{
        display: block;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
    }

    .col_double{
        display: flex;
        flex-direction: row;
    }

    .bottone{
        margin-bottom: 40px;
    }
    .bottone_bianco{
        border-radius: 25px;
        background-color: white;
        padding: 5px;
    }
    .container{
        max-width: 950;
    }
    .row_purple{
        flex-direction: row;

    }
    .col_purple{
        width: calc(100% / 2 - 100px);
        margin:20px 50px;
    }
   

}